/*  Name: Tom Nguyen
    Date: April 4, 2017
    Section: AD
    Assignment: Recreating an HTML Website of a Pie Recipe
    Contents: This is the CSS style sheet that links with my
    pie.html. This file customizes the style of pie.html. */


body {
    background-color: white;
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

abbr, h1, h2 {
    text-decoration: underline;
}

a, h1, h2 {
    color: #A4A400;
}

h1, h2 {
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 18pt;
    font-weight: normal;
    text-align: left;
}

blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}

pre {
    font-family: monospace;
}