header {
    text-align: center;
}

main {
    display: flex;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#1 {
    flex-basis: 33%;
    padding: 2em;
    margin: 2em;
    border: dashed 4px;
}

#2 {
    flex-basis: 66%;
    padding: 2em;
    margin: 2em;
    border: dashed 4px;
}

img {
    float: right;
    width: 200px;
}

#clearfloat {
    clear: both;
}